
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LoggedOut</title>
</head>
<body>
    <h2>Employee Logged out</h2>
</body>
</html>
